In [1]:
# import dependencies
%matplotlib notebook
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file = "indeed_job_dataset.csv"
data = pd.read_csv(file)
data

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0
5,5,Data Scientist - Entry to Experienced Level,https://www.indeed.com/rc/clk?jk=835a2db493898...,<80000,data_scientist,"['AI', 'Quantitative Analysis', 'Data Mining',...",6,National Security Agency,173.0,4.3,...,1,0,0,0,0,0,0,0,0,0
6,6,Geospatial Data Scientist,https://www.indeed.com/rc/clk?jk=6255c4e94a7ef...,<80000,data_scientist,"['Statistical Software', 'Machine Learning', '...",10,NYC Careers,30.0,3.8,...,0,0,0,0,0,0,0,0,0,1
7,7,Data Scientist,https://www.indeed.com/rc/clk?jk=f30ab3f52226b...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL']",3,OM Partners,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
8,8,Bioinformatics Data Scientist,https://www.indeed.com/rc/clk?jk=a6e45b6264f26...,<80000,data_scientist,"['Linux', 'R', 'C/C++', 'Python']",4,University of Idaho,233.0,4.2,...,0,0,0,1,0,0,0,0,0,1
9,9,Data Scientist,https://www.indeed.com/rc/clk?jk=56090c965b57d...,<80000,data_scientist,"['JavaScript', 'Data Mining', 'TS/SCI Clearanc...",6,usajobs.gov,4227.0,4.3,...,0,0,0,1,0,0,0,0,0,1
10,10,Data Scientist,https://www.indeed.com/rc/clk?jk=8c8963cb38cd4...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
11,11,Data Scientist,https://www.indeed.com/rc/clk?jk=dffcee22fbc26...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
12,12,Data Scientist,https://www.indeed.com/rc/clk?jk=290bda935f2da...,<80000,data_scientist,"['Machine Learning', 'Analysis Skills', 'Data ...",3,Rice University,150.0,4.3,...,0,0,0,0,0,0,0,0,0,1
13,13,Jr. Data Scientist - Machine Learning,https://www.indeed.com/rc/clk?jk=8c2855de0feec...,<80000,data_scientist,"['Machine Learning', 'Python']",2,Elev8 Hire Solutions,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
14,14,Data Scientist,https://www.indeed.com/rc/clk?jk=ba1b24901c041...,<80000,data_scientist,"['TensorFlow', 'Project Planning', 'Linux', 'M...",7,Catalina Marketing,81.0,3.2,...,0,0,0,1,1,0,0,0,0,0
15,15,Enrollment Data Scientist & Econometrician,https://www.indeed.com/rc/clk?jk=392a25a453825...,<80000,data_scientist,"['Machine Learning', 'R', 'Statisical Analysis...",11,Florida Polytechnic University,16.0,3.9,...,0,0,0,1,0,0,0,0,0,1
16,16,Junior Data Scientist,https://www.indeed.com/rc/clk?jk=31ae275f05456...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL', 'Analysis Ski...",6,Achievement Network (ANet),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
17,17,Data Scientist,https://www.indeed.com/rc/clk?jk=6be53db39253f...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Mining', 'Machi...",12,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
18,18,Data Analytics and Machine Learning Specialist,https://www.indeed.com/rc/clk?jk=3a200a28f9041...,<80000,data_scientist,['Machine Learning'],1,ExxonMobil,2234.0,4.0,...,0,0,0,1,0,0,0,0,0,1
19,19,"Postdoctoral Associate/Data Scientist, Laborat...",https://www.indeed.com/rc/clk?jk=2037d50ef8655...,<80000,data_scientist,"['LMRT', 'Machine Learning']",2,MIT,278.0,4.2,...,0,0,0,0,0,0,0,0,0,1
20,20,innovationOchsner (iO) - Data Scientist - Bens...,https://www.indeed.com/rc/clk?jk=1ab50cdc801e4...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
21,21,Statistician/Data Scientist,https://www.indeed.com/rc/clk?jk=7ef6bcd4c1cb7...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
22,22,Statistician / Data Scientist,https://www.indeed.com/rc/clk?jk=e265edb0bb163...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
23,23,"Environmental Data Scientist, Bureau of Enviro...",https://www.indeed.com/rc/clk?jk=36b066c2b1fca...,<80000,data_scientist,"['Statistical Software', 'SAS', 'SQL', 'Tableau']",4,NYC Careers,265.0,4.1,...,0,0,0,0,0,0,0,0,0,1
24,24,Environmental Data Manager/Data Scientist (Ass...,https://www.indeed.com/rc/clk?jk=15f179f4a2c91...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Management', 'P...",8,ERM Group,86.0,3.3,...,0,0,0,1,1,0,0,0,0,0
25,25,Sr. Data Scientist - Secret,https://www.indeed.com/rc/clk?jk=9bad8e7ecfd34...,<80000,data_scientist,"['Data Mining', 'R', 'Python']",3,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
26,26,innovation Ochsner - iO - Data Scientist - Ben...,https://www.indeed.com/rc/clk?jk=637c5cf376758...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
27,27,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=2ddc548ea3f36...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
28,28,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=d5ad56e19ff35...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
29,29,Data Analysis & Machine Learning Postdoctoral ...,https://www.indeed.com/rc/clk?jk=fbe8ba212a66f...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'Git', 'Pyt...",5,Lawrence Livermore National Laboratory,111.0,4.3,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5685,5685,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=99d043cebc246...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5686,5686,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=0474dce9d6258...,>160000,data_engineer,"['Hadoop', 'Scala', 'Java', 'Spark', 'Python',...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5687,5687,Senior Data Engineer/Architect,https://www.indeed.com/rc/clk?jk=21e1e9dd6f04c...,>160000,data_engineer,"['Hive', 'Data Management', 'Pentaho', 'Scala'...",10,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5688,5688,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=2470640938d33...,>160000,data_engineer,"['Hadoop', 'Scala', 'Kafka', 'C/C++', 'Java', ...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5689,5689,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=33ee5c43de096...,>160000,data_engineer,"['Java', 'Spark', 'Data Warehouse', 'Scripting...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5690,5690,Principal Big Data Engineer,https://www.indeed.com/rc/clk?jk=2cf967d752707...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5691,5691,Senior Software Engineer for Data Engineering,https://www.indeed.com/rc/clk?jk=2428e4a75cb6b...,>160000,data_engineer,"['Chef', 'TensorFlow', 'AI', 'Hadoop', 'Scala'...",15,NVIDIA,177.0,4.2,...,0,0,0,0,0,0,0,0,0,1
5692,5692,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=4086608989538...,>160000,data_engineer,"['Java', 'Linux', 'Software Development', 'Had...",4,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5693,5693,Sr. Principal Data Engineer (Technology Archit...,https://www.indeed.com/rc/clk?jk=490db7aac366d...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5694,5694,Senior Java / Big Data Engineer - Enterprise C...,https://www.indeed.com/rc/clk?jk=e3607f410b452...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Hadoop', 'Kafka...",9,Bloomberg,671.0,3.9,...,0,0,0,0,0,0,0,0,0,1
5695,5695,"Data Engineer Contractor (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=0f09885cd26ea...,>160000,data_engineer,"['Pig', 'Hive', 'Machine Learning', 'Hadoop', ...",7,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5696,5696,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=9f43993124152...,>160000,data_engineer,"['Information Security', 'Pentaho', 'Hadoop', ...",13,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5697,5697,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=949aff705c220...,>160000,data_engineer,"['Akka', 'Design Patterns', 'Hadoop', 'Scala',...",9,Hewlett Packard Enterprise,3653.0,3.7,...,0,0,0,0,0,1,0,0,0,0
5698,5698,Sr. Principal Data Engineer (Solutions Architect),https://www.indeed.com/rc/clk?jk=4be71179880ef...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5699,5699,Principal Sr. Data Engineer Lead,https://www.indeed.com/rc/clk?jk=ef58343739d2c...,>160000,data_engineer,"['Azure', 'SQL', 'Design Experience', 'Leaders...",4,Microsoft,5180.0,4.2,...,0,0,0,0,0,1,0,0,0,0
5700,5700,"Senior Software Engineer, Data Engineering",https://www.indeed.com/rc/clk?jk=b5c04a7e845bc...,>160000,data_engineer,"['System Design', 'MySQL', 'Software Developme...",18,Glooko,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5701,5701,"Sr. Director, Data Engineering",https://www.indeed.com/rc/clk?jk=a99fa88bd7339...,>160000,data_engineer,"['SOX', 'Machine Learning', 'PCI', 'Leadership...",6,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5702,5702,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=0ffa0be16424d...,>160000,data_engineer,"['Machine Learning', 'PostgreSQL', 'R', 'Pytho...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5703,5703,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=de80f59060f3f...,>160000,data_engineer,"['Java', 'Linux', 'Spark', 'Data Warehouse', '...",8,Coda Search,2.0,4.5,...,0,0,0,0,0,0,0,0,0,1
5704,5704,"Senior Data Engineer (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=5d29315391649...,>160000,data_engineer,"['Linux', 'Hive', 'Data Management', 'Hadoop',...",14,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5705,5705,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=fa55202b266a5...,>160000,data_engineer,"['Hadoop', 'Kafka', 'Scala', 'Java', 'Big Data...",9,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5706,5706,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=3d7e7b605e28a...,>160000,data_engineer,NaN,0,Aruba Networks,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
5707,5707,"Senior Data Engineer (Java, Spark, Storm, AWS,...",https://www.indeed.com/rc/clk?jk=a64eddb574b49...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Kafka', 'Python...",6,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5708,5708,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=876eec2fa6d83...,>160000,data_engineer,"['Hive', 'Hadoop', 'Kafka', 'HBase', 'Java', '...",6,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5709,5709,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=d701a3a542966...,>160000,data_engineer,"['Ruby', 'Hadoop', 'Scala', 'R', 'Perl', 'SAS'...",12,Stride Search,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5710,5710,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=fbe2dd71643b3...,>160000,data_engineer,"['Hive', 'Hadoop', 'Oracle', 'SQL', 'HBase', '...",12,Intelliswift Software Inc,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5711,5711,"Principal Data Engineer (Java, Spark, Storm, AWS)",https://www.indeed.com/rc/clk?jk=70ee8b9bb5a2b...,>160000,data_engineer,"['Network', 'Scala', 'Kafka', 'Java', 'MongoDB...",8,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5712,5712,Executive Director- Architect: Data Engineerin...,https://www.indeed.com/rc/clk?jk=2c2a7f94f6ed1...,>160000,data_engineer,"['Spring', 'Data Management', 'Hadoop', 'Kafka...",13,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5713,5713,"Senior Manager, Data Engineering (hands on)",https://www.indeed.com/rc/clk?jk=1051e100b300b...,>160000,data_engineer,"['Spring', 'Ruby', 'Test Automation', 'Scripti...",15,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5714,5714,Principal Visual Analytics / Big Data Engineer...,https://www.indeed.com/rc/clk?jk=605a2c61478f1...,>160000,data_engineer,"['JavaScript', 'TS/SCI Clearance', 'XML', 'Had...",11,SAIC,2279.0,4.0,...,1,0,0,0,0,0,0,0,0,1

In [3]:
data = data
data

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0
5,5,Data Scientist - Entry to Experienced Level,https://www.indeed.com/rc/clk?jk=835a2db493898...,<80000,data_scientist,"['AI', 'Quantitative Analysis', 'Data Mining',...",6,National Security Agency,173.0,4.3,...,1,0,0,0,0,0,0,0,0,0
6,6,Geospatial Data Scientist,https://www.indeed.com/rc/clk?jk=6255c4e94a7ef...,<80000,data_scientist,"['Statistical Software', 'Machine Learning', '...",10,NYC Careers,30.0,3.8,...,0,0,0,0,0,0,0,0,0,1
7,7,Data Scientist,https://www.indeed.com/rc/clk?jk=f30ab3f52226b...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL']",3,OM Partners,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
8,8,Bioinformatics Data Scientist,https://www.indeed.com/rc/clk?jk=a6e45b6264f26...,<80000,data_scientist,"['Linux', 'R', 'C/C++', 'Python']",4,University of Idaho,233.0,4.2,...,0,0,0,1,0,0,0,0,0,1
9,9,Data Scientist,https://www.indeed.com/rc/clk?jk=56090c965b57d...,<80000,data_scientist,"['JavaScript', 'Data Mining', 'TS/SCI Clearanc...",6,usajobs.gov,4227.0,4.3,...,0,0,0,1,0,0,0,0,0,1
10,10,Data Scientist,https://www.indeed.com/rc/clk?jk=8c8963cb38cd4...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
11,11,Data Scientist,https://www.indeed.com/rc/clk?jk=dffcee22fbc26...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
12,12,Data Scientist,https://www.indeed.com/rc/clk?jk=290bda935f2da...,<80000,data_scientist,"['Machine Learning', 'Analysis Skills', 'Data ...",3,Rice University,150.0,4.3,...,0,0,0,0,0,0,0,0,0,1
13,13,Jr. Data Scientist - Machine Learning,https://www.indeed.com/rc/clk?jk=8c2855de0feec...,<80000,data_scientist,"['Machine Learning', 'Python']",2,Elev8 Hire Solutions,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
14,14,Data Scientist,https://www.indeed.com/rc/clk?jk=ba1b24901c041...,<80000,data_scientist,"['TensorFlow', 'Project Planning', 'Linux', 'M...",7,Catalina Marketing,81.0,3.2,...,0,0,0,1,1,0,0,0,0,0
15,15,Enrollment Data Scientist & Econometrician,https://www.indeed.com/rc/clk?jk=392a25a453825...,<80000,data_scientist,"['Machine Learning', 'R', 'Statisical Analysis...",11,Florida Polytechnic University,16.0,3.9,...,0,0,0,1,0,0,0,0,0,1
16,16,Junior Data Scientist,https://www.indeed.com/rc/clk?jk=31ae275f05456...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL', 'Analysis Ski...",6,Achievement Network (ANet),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
17,17,Data Scientist,https://www.indeed.com/rc/clk?jk=6be53db39253f...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Mining', 'Machi...",12,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
18,18,Data Analytics and Machine Learning Specialist,https://www.indeed.com/rc/clk?jk=3a200a28f9041...,<80000,data_scientist,['Machine Learning'],1,ExxonMobil,2234.0,4.0,...,0,0,0,1,0,0,0,0,0,1
19,19,"Postdoctoral Associate/Data Scientist, Laborat...",https://www.indeed.com/rc/clk?jk=2037d50ef8655...,<80000,data_scientist,"['LMRT', 'Machine Learning']",2,MIT,278.0,4.2,...,0,0,0,0,0,0,0,0,0,1
20,20,innovationOchsner (iO) - Data Scientist - Bens...,https://www.indeed.com/rc/clk?jk=1ab50cdc801e4...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
21,21,Statistician/Data Scientist,https://www.indeed.com/rc/clk?jk=7ef6bcd4c1cb7...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
22,22,Statistician / Data Scientist,https://www.indeed.com/rc/clk?jk=e265edb0bb163...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
23,23,"Environmental Data Scientist, Bureau of Enviro...",https://www.indeed.com/rc/clk?jk=36b066c2b1fca...,<80000,data_scientist,"['Statistical Software', 'SAS', 'SQL', 'Tableau']",4,NYC Careers,265.0,4.1,...,0,0,0,0,0,0,0,0,0,1
24,24,Environmental Data Manager/Data Scientist (Ass...,https://www.indeed.com/rc/clk?jk=15f179f4a2c91...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Management', 'P...",8,ERM Group,86.0,3.3,...,0,0,0,1,1,0,0,0,0,0
25,25,Sr. Data Scientist - Secret,https://www.indeed.com/rc/clk?jk=9bad8e7ecfd34...,<80000,data_scientist,"['Data Mining', 'R', 'Python']",3,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
26,26,innovation Ochsner - iO - Data Scientist - Ben...,https://www.indeed.com/rc/clk?jk=637c5cf376758...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
27,27,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=2ddc548ea3f36...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
28,28,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=d5ad56e19ff35...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
29,29,Data Analysis & Machine Learning Postdoctoral ...,https://www.indeed.com/rc/clk?jk=fbe8ba212a66f...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'Git', 'Pyt...",5,Lawrence Livermore National Laboratory,111.0,4.3,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5685,5685,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=99d043cebc246...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5686,5686,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=0474dce9d6258...,>160000,data_engineer,"['Hadoop', 'Scala', 'Java', 'Spark', 'Python',...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5687,5687,Senior Data Engineer/Architect,https://www.indeed.com/rc/clk?jk=21e1e9dd6f04c...,>160000,data_engineer,"['Hive', 'Data Management', 'Pentaho', 'Scala'...",10,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5688,5688,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=2470640938d33...,>160000,data_engineer,"['Hadoop', 'Scala', 'Kafka', 'C/C++', 'Java', ...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5689,5689,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=33ee5c43de096...,>160000,data_engineer,"['Java', 'Spark', 'Data Warehouse', 'Scripting...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5690,5690,Principal Big Data Engineer,https://www.indeed.com/rc/clk?jk=2cf967d752707...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5691,5691,Senior Software Engineer for Data Engineering,https://www.indeed.com/rc/clk?jk=2428e4a75cb6b...,>160000,data_engineer,"['Chef', 'TensorFlow', 'AI', 'Hadoop', 'Scala'...",15,NVIDIA,177.0,4.2,...,0,0,0,0,0,0,0,0,0,1
5692,5692,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=4086608989538...,>160000,data_engineer,"['Java', 'Linux', 'Software Development', 'Had...",4,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5693,5693,Sr. Principal Data Engineer (Technology Archit...,https://www.indeed.com/rc/clk?jk=490db7aac366d...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5694,5694,Senior Java / Big Data Engineer - Enterprise C...,https://www.indeed.com/rc/clk?jk=e3607f410b452...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Hadoop', 'Kafka...",9,Bloomberg,671.0,3.9,...,0,0,0,0,0,0,0,0,0,1
5695,5695,"Data Engineer Contractor (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=0f09885cd26ea...,>160000,data_engineer,"['Pig', 'Hive', 'Machine Learning', 'Hadoop', ...",7,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5696,5696,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=9f43993124152...,>160000,data_engineer,"['Information Security', 'Pentaho', 'Hadoop', ...",13,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5697,5697,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=949aff705c220...,>160000,data_engineer,"['Akka', 'Design Patterns', 'Hadoop', 'Scala',...",9,Hewlett Packard Enterprise,3653.0,3.7,...,0,0,0,0,0,1,0,0,0,0
5698,5698,Sr. Principal Data Engineer (Solutions Architect),https://www.indeed.com/rc/clk?jk=4be71179880ef...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5699,5699,Principal Sr. Data Engineer Lead,https://www.indeed.com/rc/clk?jk=ef58343739d2c...,>160000,data_engineer,"['Azure', 'SQL', 'Design Experience', 'Leaders...",4,Microsoft,5180.0,4.2,...,0,0,0,0,0,1,0,0,0,0
5700,5700,"Senior Software Engineer, Data Engineering",https://www.indeed.com/rc/clk?jk=b5c04a7e845bc...,>160000,data_engineer,"['System Design', 'MySQL', 'Software Developme...",18,Glooko,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5701,5701,"Sr. Director, Data Engineering",https://www.indeed.com/rc/clk?jk=a99fa88bd7339...,>160000,data_engineer,"['SOX', 'Machine Learning', 'PCI', 'Leadership...",6,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5702,5702,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=0ffa0be16424d...,>160000,data_engineer,"['Machine Learning', 'PostgreSQL', 'R', 'Pytho...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5703,5703,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=de80f59060f3f...,>160000,data_engineer,"['Java', 'Linux', 'Spark', 'Data Warehouse', '...",8,Coda Search,2.0,4.5,...,0,0,0,0,0,0,0,0,0,1
5704,5704,"Senior Data Engineer (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=5d29315391649...,>160000,data_engineer,"['Linux', 'Hive', 'Data Management', 'Hadoop',...",14,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5705,5705,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=fa55202b266a5...,>160000,data_engineer,"['Hadoop', 'Kafka', 'Scala', 'Java', 'Big Data...",9,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5706,5706,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=3d7e7b605e28a...,>160000,data_engineer,NaN,0,Aruba Networks,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
5707,5707,"Senior Data Engineer (Java, Spark, Storm, AWS,...",https://www.indeed.com/rc/clk?jk=a64eddb574b49...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Kafka', 'Python...",6,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5708,5708,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=876eec2fa6d83...,>160000,data_engineer,"['Hive', 'Hadoop', 'Kafka', 'HBase', 'Java', '...",6,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5709,5709,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=d701a3a542966...,>160000,data_engineer,"['Ruby', 'Hadoop', 'Scala', 'R', 'Perl', 'SAS'...",12,Stride Search,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5710,5710,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=fbe2dd71643b3...,>160000,data_engineer,"['Hive', 'Hadoop', 'Oracle', 'SQL', 'HBase', '...",12,Intelliswift Software Inc,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5711,5711,"Principal Data Engineer (Java, Spark, Storm, AWS)",https://www.indeed.com/rc/clk?jk=70ee8b9bb5a2b...,>160000,data_engineer,"['Network', 'Scala', 'Kafka', 'Java', 'MongoDB...",8,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5712,5712,Executive Director- Architect: Data Engineerin...,https://www.indeed.com/rc/clk?jk=2c2a7f94f6ed1...,>160000,data_engineer,"['Spring', 'Data Management', 'Hadoop', 'Kafka...",13,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5713,5713,"Senior Manager, Data Engineering (hands on)",https://www.indeed.com/rc/clk?jk=1051e100b300b...,>160000,data_engineer,"['Spring', 'Ruby', 'Test Automation', 'Scripti...",15,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5714,5714,Principal Visual Analytics / Big Data Engineer...,https://www.indeed.com/rc/clk?jk=605a2c61478f1...,>160000,data_engineer,"['JavaScript', 'TS/SCI Clearance', 'XML', 'Had...",11,SAIC,2279.0,4.0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
filtered_data = data.filter(["Job_Type", "Queried_Salary", "Skill", "No_of_Skills", 
             "Location", "Company_Industry"]) 
filtered_data

,Job_Type,Queried_Salary,Skill,No_of_Skills,Location,Company_Industry
0,data_scientist,<80000,"['SAP', 'SQL']",2,MO,Health Care
1,data_scientist,<80000,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,TX,NaN
2,data_scientist,<80000,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,OR,NaN
3,data_scientist,<80000,['Certified Internal Auditor'],1,DC,Government
4,data_scientist,<80000,"['Statistical Software', 'Time Management', 'R...",7,TX,Banks and Financial Services
5,data_scientist,<80000,"['AI', 'Quantitative Analysis', 'Data Mining',...",6,MD,NaN
6,data_scientist,<80000,"['Statistical Software', 'Machine Learning', '...",10,NY,Government
7,data_scientist,<80000,"['Machine Learning', 'R', 'SQL']",3,GA,NaN
8,data_scientist,<80000,"['Linux', 'R', 'C/C++', 'Python']",4,ID,Education and Schools
9,data_scientist,<80000,"['JavaScript', 'Data Mining', 'TS/SCI Clearanc...",6,MO,Government
10,data_scientist,<80000,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,PA,Education and Schools
11,data_scientist,<80000,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,PA,Education and Schools
12,data_scientist,<80000,"['Machine Learning', 'Analysis Skills', 'Data ...",3,TX,Education and Schools
13,data_scientist,<80000,"['Machine Learning', 'Python']",2,GA,NaN
14,data_scientist,<80000,"['TensorFlow', 'Project Planning', 'Linux', 'M...",7,GA,Consulting and Business Services
15,data_scientist,<80000,"['Machine Learning', 'R', 'Statisical Analysis...",11,FL,Education and Schools
16,data_scientist,<80000,"['Machine Learning', 'R', 'SQL', 'Analysis Ski...",6,MA,NaN
17,data_scientist,<80000,"['Microsoft SQL Server', 'Data Mining', 'Machi...",12,VA,Consulting and Business Services
18,data_scientist,<80000,['Machine Learning'],1,NJ,Energy and Utilities
19,data_scientist,<80000,"['LMRT', 'Machine Learning']",2,MA,Education and Schools
20,data_scientist,<80000,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,LA,Health Care
21,data_scientist,<80000,"['IIS', 'TS/SCI Clearance']",2,MO,Aerospace and Defense
22,data_scientist,<80000,"['IIS', 'TS/SCI Clearance']",2,MO,Aerospace and Defense
23,data_scientist,<80000,"['Statistical Software', 'SAS', 'SQL', 'Tableau']",4,NY,Government
24,data_scientist,<80000,"['Microsoft SQL Server', 'Data Management', 'P...",8,GA,Consulting and Business Services
25,data_scientist,<80000,"['Data Mining', 'R', 'Python']",3,VA,Consulting and Business Services
26,data_scientist,<80000,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,LA,Health Care
27,data_scientist,<80000,NaN,0,NY,Internet and Software
28,data_scientist,<80000,NaN,0,MA,Internet and Software
29,data_scientist,<80000,"['TensorFlow', 'Machine Learning', 'Git', 'Pyt...",5,CA,Government
...,...,...,...,...,...,...
5685,data_engineer,>160000,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,CA,Consulting and Business Services
5686,data_engineer,>160000,"['Hadoop', 'Scala', 'Java', 'Spark', 'Python',...",6,MA,Consulting and Business Services
5687,data_engineer,>160000,"['Hive', 'Data Management', 'Pentaho', 'Scala'...",10,NY,Human Resources and Staffing
5688,data_engineer,>160000,"['Hadoop', 'Scala', 'Kafka', 'C/C++', 'Java', ...",8,NY,Consulting and Business Services
5689,data_engineer,>160000,"['Java', 'Spark', 'Data Warehouse', 'Scripting...",8,CA,Consulting and Business Services
5690,data_engineer,>160000,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,CA,Consulting and Business Services
5691,data_engineer,>160000,"['Chef', 'TensorFlow', 'AI', 'Hadoop', 'Scala'...",15,CA,Computers and Electronics
5692,data_engineer,>160000,"['Java', 'Linux', 'Software Development', 'Had...",4,CA,Human Resources and Staffing
5693,data_engineer,>160000,"['Microsoft SQL Server', 'Machine Learning', '...",20,CA,Internet and Software
5694,data_engineer,>160000,"['Java', 'Big Data', 'Spark', 'Hadoop', 'Kafka...",9,NY,"Media, News and Publishing"
5695,data_engineer,>160000,"['Pig', 'Hive', 'Machine Learning', 'Hadoop', ...",7,CA,Human Resources and Staffing
5696,data_engineer,>160000,"['Information Security', 'Pentaho', 'Hadoop', ...",13,MA,Human Resources and Staffing
5697,data_engineer,>160000,"['Akka', 'Design Patterns', 'Hadoop', 'Scala',...",9,CA,Internet and Software
5698,data_engineer,>160000,"['Microsoft SQL Server', 'Machine Learning', '...",20,CA,Internet and Software
5699,data_engineer,>160000,"['Azure', 'SQL', 'Design Experience', 'Leaders...",4,WA,Internet and Software
5700,data_engineer,>160000,"['System Design', 'MySQL', 'Software Developme...",18,NaN,NaN
5701,data_engineer,>160000,"['SOX', 'Machine Learning', 'PCI', 'Leadership...",6,VA,Banks and Financial Services
5702,data_engineer,>160000,"['Machine Learning', 'PostgreSQL', 'R', 'Pytho...",6,CA,Consulting and Business Services
5703,data_engineer,>160000,"['Java', 'Linux', 'Spark', 'Data Warehouse', '...",8,NY,Human Resources and Staffing
5704,data_engineer,>160000,"['Linux', 'Hive', 'Data Management', 'Hadoop',...",14,NJ,Banks and Financial Services
5705,data_engineer,>160000,"['Hadoop', 'Kafka', 'Scala', 'Java', 'Big Data...",9,CA,Human Resources and Staffing
5706,data_engineer,>160000,NaN,0,CA,Telecommunications
5707,data_engineer,>160000,"['Java', 'Big Data', 'Spark', 'Kafka', 'Python...",6,CA,Human Resources and Staffing
5708,data_engineer,>160000,"['Hive', 'Hadoop', 'Kafka', 'HBase', 'Java', '...",6,CA,Human Resources and Staffing
5709,data_engineer,>160000,"['Ruby', 'Hadoop', 'Scala', 'R', 'Perl', 'SAS'...",12,NaN,NaN
5710,data_engineer,>160000,"['Hive', 'Hadoop', 'Oracle', 'SQL', 'HBase', '...",12,NaN,NaN
5711,data_engineer,>160000,"['Network', 'Scala', 'Kafka', 'Java', 'MongoDB...",8,CA,Human Resources and Staffing
5712,data_engineer,>160000,"['Spring', 'Data Management', 'Hadoop', 'Kafka...",13,DE,Banks and Financial Services
5713,data_engineer,>160000,"['Spring', 'Ruby', 'Test Automation', 'Scripti...",15,NY,Banks and Financial Services
5714,data_engineer,>160000,"['JavaScript', 'TS/SCI Clearance', 'XML', 'Had...",11,MD,Aerospace and Defense

In [5]:
Two_columns = filtered_data.filter(["Job_Type", "Location"])
Two_columns.dropna()
Two_columns["Location"].fillna("NAN").value_counts().head()

CA    1395
NY     601
VA     334
TX     329
MA     271
Name: Location, dtype: int64

In [6]:
Data_Scientist = Two_columns[Two_columns["Job_Type"] == "data_scientist"]

DS = Data_Scientist["Location"].fillna("Not Reported").value_counts()
DS
DS1 = pd.DataFrame(DS)
DS1.columns = ["Data Scientist"]
DS1.head()

    Data Scientist
CA             723
NY             253
VA             177
TX             136
MA             133

In [7]:
DS_Final = DS1.drop(DS1[DS1["Data Scientist"] < 10].index)
DS_Final.head()

    Data Scientist
CA             723
NY             253
VA             177
TX             136
MA             133

In [8]:
Data_Analyst = Two_columns[Two_columns["Job_Type"] == "data_analyst"]
DA = Data_Analyst["Location"].fillna("Not Reported").value_counts()

In [9]:
DA1 = pd.DataFrame(DA)
DA1.columns = ["Data Analyst"]
DA1

              Data Analyst
CA                     376
NY                     230
TX                     117
MA                      86
VA                      85
IL                      66
GA                      59
WA                      57
PA                      56
MD                      55
NJ                      54
DC                      48
NC                      46
FL                      44
MI                      39
MO                      37
OH                      33
CT                      29
MN                      27
OR                      26
CO                      25
USA                     24
TN                      21
IN                      20
UT                      17
SC                      15
AZ                      15
WI                      11
IA                      10
AR                       8
NV                       7
ME                       6
KY                       6
DE                       6
AL                       6
REMOTE                   4
VT                       2
WV                       2
RI                       2
NH                       2
HI                       2
Not Reported             2
NM                       2
OK                       2
LA                       1
WY                       1
KS                       1
ID                       1
SD                       1
NE                       1

In [10]:
Data_Engineer = Two_columns[Two_columns["Job_Type"] == "data_engineer"]
DE = Data_Engineer["Location"].fillna("Not Reported").value_counts()
DE1 = pd.DataFrame(DE)
DE1.columns = ["Data Engineer"]
DE1.head()

              Data Engineer
CA                      296
Not Reported            248
NY                      118
TX                       76
VA                       72

In [11]:
DE_Final = DE1.drop(DE1[DE1["Data Engineer"] < 10].index)
DE_Final

              Data Engineer
CA                      296
Not Reported            248
NY                      118
TX                       76
VA                       72
IL                       68
MA                       52
WA                       43
NC                       38
CO                       37
PA                       28
OH                       26
GA                       24
DC                       24
NJ                       20
MD                       20
OR                       19
FL                       16
MI                       16
AZ                       14
CT                       14
MN                       13
IA                       11

In [12]:
Jobs_Location = DS1.join(DA1).join(DE1)
Jobs_Location.index.name = "States"
Jobs_Location.head()

        Data Scientist  Data Analyst  Data Engineer
States
CA                 723           376          296.0
NY                 253           230          118.0
VA                 177            85           72.0
TX                 136           117           76.0
MA                 133            86           52.0

In [13]:
Total = Jobs_Location.sum()
Total_jobs = pd.DataFrame({
                           "Total" :Total }) 
Total_jobs

                 Total
Data Scientist  2543.0
Data Analyst    1787.0
Data Engineer   1375.0

In [14]:
states = Jobs_Location.index
states

Index(['CA', 'NY', 'VA', 'TX', 'MA', 'WA', 'IL', 'MD', 'DC', 'GA', 'NC', 'PA',
       'NJ', 'OH', 'CO', 'FL', 'USA', 'MO', 'CT', 'MI', 'MN', 'AZ', 'WI', 'IN',
       'OR', 'AR', 'TN', 'UT', 'IA', 'AL', 'NV', 'NE', 'DE', 'KY', 'SC', 'KS',
       'ID', 'REMOTE', 'LA', 'HI', 'RI', 'NH', 'NM', 'Not Reported', 'ME',
       'OK'],
      dtype='object', name='States')

In [17]:
Jobs_Location.loc[:,"Data Engineer"]
Jobs_Location.head()

        Data Scientist  Data Analyst  Data Engineer
States
CA                 723           376          296.0
NY                 253           230          118.0
VA                 177            85           72.0
TX                 136           117           76.0
MA                 133            86           52.0

In [16]:
Jobs_Location.loc[:,"Data Engineer"].plot(kind="bar", figsize=(10,5))

# Set a title for the chart
plt.title("DE job market in the US")
plt.show()
plt.tight_layout()

Text(0.5, 1.0, 'DE job market in the US')

In [ ]:

label = states
DE_Final =  Jobs_Location.loc[:,"Data Engineer"]
x_axis = np.arange(len(states))


plt.rcdefaults()
fig, ax = plt.subplots()
label = states
y_pos = np.arange(len(label))
Jobs_Posted = DE_Final

ax.barh(y_pos, Jobs_Posted, align='center')
ax.set_yticks(y_pos)
ax.set_yticklabels(label)
ax.invert_yaxis()
ax.set_xlabel('Jobs Posted')
ax.set_title('DE Jobs Market')
plt.show()